html{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    overscroll-behavior: none;
}

header{
    display: grid;
    grid-template-columns: 1fr 68px;
}

nav{

    grid-column: 1/-1;
}

.nav-list{
    border-top: 1px solid white;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    display: none;
    grid-template-columns: repeat(auto-fill, minmax(var(--Nav--Big--Screen--Size), 1fr));
}

nav li{
    width: 100%;
    height: 100%;
}

nav li a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    font-size: var(--Font--Medium);
}

body{
    color: var(--Color--Font-Color);
    background-color: var(--Color--Background);
    margin: 0;
}

main{
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: var(--Color--Font-Color);
}

header h1{
    padding-left: var(--Layout--Medium--Size);
    font-size: var(--Font--Medium);
}

h1, h2, h3, nav li, .proj-download{
    text-transform: uppercase;
}

.proj-download{
    display: block;
    text-align: center;
    font-size: var(--Font--Large);
}

header{
    margin-bottom: var(--Layout--Large--Size);
    background-color: var(--Color--Background);
    border-bottom: 1px solid white;
    z-index: 1;
}

main h1{
    text-align: center;
    font-size: var(--Font--Large);
}

.projs-span{
    margin-bottom: var(--Layout--Large--Size);
}

.proj-div{
    /* border: 1px solid white; */
    box-sizing: border-box;
    margin-bottom: var(--Layout--Large--Size);
}

.proj-list h3{
    text-wrap: nowrap;
}

.proj-list-item{
    padding: var(--Layout--Small--Size);
    padding-bottom: 0;
}

.proj-thumnail, .wide-proj-thumnail, .small-proj-thumnail{
    border: 1px solid white;
}

.wide-proj-thumnail, .small-proj-thumnail{
    width: 125px;
    height: 120px;
    margin-right: var(--Layout--Small--Size);
    float: left;
    display: none;
}

.small-proj-thumnail{
    display: initial;
}

.proj-list-item h3{
    margin: 0;
    padding-bottom: var(--Layout--Small--Size);
    font-size: var(--Font--Tiny);
}

.proj-div{
    padding-left:  var(--Layout--Tiny--Size);
    padding-right:  var(--Layout--Tiny--Size);
}

.proj-div h3{
    margin: 0;
    padding: var(--Layout--Tiny--Size);
    padding-left: 0;
}

.proj-div:hover, .proj-list-item:hover{
    border: 1px solid white;
}

.proj-thumnail{
    width: 100%;
    box-sizing: border-box;
    object-fit: fill;
}

.yt-video{
    width: 100%;
}

.gallery{
    width: 100%;
    position: relative;
}

.gallery-img{
    width: 100%;
    display: none;
    cursor: pointer;
}

.gallery-arrows{
    cursor: pointer;
    position: absolute;
    top: 50%;

    border: 1px solid white;

    padding: var(--Layout--Tiny--Size);

    font-size: var(--Font--Small);
    user-select: none;

    transform:translateX(-25px);
}

#g-arrow-next{
    right: 0;
    transform:translateX(25px);
}

.gallery-dots{
    text-align: center;
    font-size: 0;
}

.gallery-dot{
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;

    box-sizing: border-box;
}

.gallery-dot-active, .gallery-dot:hover{
    background-color: white;
}

.proj-overview section{
    box-sizing: border-box;
    border: 1px solid white;
}

.proj-features{
    margin-top: var(--Layout--Medium--Size);
}

.proj-overview h2{
    text-align: center;
}

.role-list{
    list-style: square;
    margin: 0;
    padding: 0;
    padding-left: var(--Layout--Small--Size);
}

.features-list{
    list-style: none;
    padding: 0;
    text-align: center;
}

.features-list li{
    border-top: 1px solid white;
    padding-top: var(--Layout--Tiny--Size);
    margin-bottom: var(--Layout--Tiny--Size);
}

.proj-detail-table{
    display: grid;
    grid-template-columns: max-content 1fr;
}

.proj-detail-table span{
    padding-top: var(--Layout--Tiny--Size);
    margin-bottom: var(--Layout--Tiny--Size);
    border-top: 1px solid white;
}

.proj-detail-table span:nth-child(odd){
    text-align: center;
    padding-left: var(--Layout--Small--Size);
    padding-right: var(--Layout--Small--Size);
}

#modal{
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-content{
    margin: auto;
    display: block;
    width: 100%;
}

#modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: var(--Font--High--Medium);
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

button{
    border: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    font-size: var(--Font--Medium);
    color: var(--Button--Normal--Color);
}

button:hover, ul a:hover, .gallery-arrows, #modal-close:hover{
    cursor: pointer;
    background-color: var(--Button--Hover--Color);
    color: var(--Button--Text--Color);
}

button:active, ul a:active, .gallery-arrows:hover{
    background-color: var(--Button--Active--Color);
    color: var(--Button--Normal--Color);
}

#nav-menu-button{
    padding: 0;
}

@media screen and (min-width: 550px) { 
    header h1{
        font-size: var(--Font--High--Medium);
    }

    .nav-list{
        display: grid;
    }

    #nav-menu-button{
        display: none;
    }

    header{
        position: sticky;
        top: 0;
    }

    .projs-span{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--Layout--Small--Size);
        grid-template-columns: repeat(auto-fill, minmax(var(--Content--Min--Max), 1fr));
    }

    .proj-div{
        margin-bottom: 0;
    }

    .wide-proj-thumnail{
        width: 300px;
        height: 140px;
        display: initial;
        object-fit: cover;
    }

    .small-proj-thumnail{
        display: none;
    }

    .proj-list-item h3{
        font-size: var(--Font--Small);
    }

    .proj-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    }

    .proj-overview{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--Layout--Large--Size);
    }

    .proj-features{
        margin-top: 0;
    }

    .yt-video{
        height: 450px;
    }

    #modal-content {
        width: 80%;
    }

    .gallery-dot{
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 900px) {
    .nav-list{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    header{
        display: grid;
        grid-template-columns: max-content 1fr;
    }

    nav{
        grid-column: initial;
    }
    
    .nav-list{
        border-top: none;
        justify-content: right;
        display: grid;
        grid-template-columns: repeat(5, var(--Nav--Big--Screen--Size));
    }
    
    main{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .projs-span{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--Layout--Small--Size);
    }

    .yt-video{
        padding-left: 10%;
        width: 80%;
        height: 500px;
    }

    .gallery-dot{
        width: 32px;
        height: 32px;
    }
}