html{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    overscroll-behavior: none;
}

header{
    display: grid;
    grid-template-columns: 1fr 100px;
}

nav{

    grid-column: 1/-1;
}

.nav-list{
    border-top: 1px solid white;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    display: none;
    grid-template-columns: repeat(auto-fill, minmax(var(--Nav--Big--Screen--Size), 1fr));
}

nav li{
    width: 100%;
    height: 100%;
}

nav li a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    font-size: var(--Font--Medium);
}

body{
    color: var(--Color--Font-Color);
    background-color: var(--Color--Background);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--Color--Font-Color);
}

h1, h2, nav li{
    text-transform: uppercase;
}

header{
    margin-bottom: var(--Layout--Large--Size);
    background-color: var(--Color--Background);
    border-bottom: 1px solid white;
}

button{
    border: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    font-size: var(--Font--Medium);
    color: var(--Button--Normal--Color);
}

button:hover, ul a:hover{
    cursor: pointer;
    background-color: var(--Button--Hover--Color);
    color: var(--Button--Text--Color);
}

button:active, ul a:active{
    background-color: var(--Button--Active--Color);
    color: var(--Button--Normal--Color);
}

@media screen and (min-width: 550px) { 
    .nav-list{
        display: grid;
    }

    #nav-menu-button{
        display: none;
    }

    header{
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width: 1200px) {
    header{
        display: grid;
        grid-template-columns: max-content 1fr;
    }

    nav{
        grid-column: initial;
    }
    
    .nav-list{
        border-top: none;
        justify-content: right;
        display: grid;
        grid-template-columns: repeat(5, var(--Nav--Big--Screen--Size));
    }
    
    main{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}