:root{
     /* SIZE */
     --Large--Screen--Width: 1000px;
     --Nav--Big--Screen--Size: 175px;
 
     --Layout--Tiny--Size: 0.5rem;
     --Layout--Small--Size: 1rem;
     --Layout--Medium--Size: 2rem;
     --Layout--Large--Size: 3rem;
     --Layout--Larger--Size: 4rem;
 
     /* FONT SIZE */
     --Font--Small: 1rem;
     --Font--Medium: 1.5rem;
     --Font--Large: 3rem;
 
     /* COLOR */
     --Color--Font-Color: #ffffff;
     --Color--Background: #000000;
     --Color--Primary: #1e579c;
     --Color--Secondary: #203562;
     --Color--Tertiary: #252446;
     --Color--Quaternary: #37659d;
     --Color--Weak--Primary: #33577F;
     --Color--Weakest--Primary: #3D5066;
     --Button--Normal--Color: #cecece;
     --Button--Hover--Color: #ffffff;
     --Button--Active--Color: #000000;
     --Button--Text--Color: #000000;
}