<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coop FPS</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/cpp.html">C++</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content" src="../image/s39i3p04512.png" alt="MODAL IMAGE">
    </div>
    <main>
        <h1>Coop FPS</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/_gHeveqVo3U?si=NhsDslioX4V14MZb" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <div class="proj-detail-table">
                    <div>Genre</div>
                    <div>Coop First Person Shooter</div>
                    <div>Engine</div>
                    <div>Unreal</div>
                    <div>Project Type</div>
                    <div>Solo Project</div>
                    <div>Duratoin</div>
                    <div>Oct 2023-Now</div>
                    <div>My Role</div>
                    <div>
                        <ul class="role-list">
                            <li>Programmer</li>
                            <li>Game Designer</li>
                            <li>UI Designer</li>
                            <li>Project Manager</li>
                            <li>Level Designer</li>
                            <li>3D Animator</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="proj-features">
                <h2>Current Features</h2>
                <ul class="features-list">
                    <li>Unique Weapon Modification</li>
                    <li>Status Effects</li>
                    <li>Enemy Gibbing</li>
                    <li>Enemy Grouping</li>
                    <li>7 Weapons</li>
                    <li>4 Players Coop</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                I've never created a multiplayer game before and want to learn Unreal. That's why I'm developing this game. The game involves defending a base with your friends against waves of enemies. 
            </p>
                
            <p>
                Enemies drop scrap that can be used to purchase weapons or weapon modifications, which come in three levels. And Level 3 Weapon Mod has additional effects. You can combine two mods of the same level to upgrade its level.
            </p>
            
            <p>
                You can customize your weapon to fit your playstyle, whether it's supporting your teammates by debuffing enemies or empowering your weapon.
            </p>
        </section>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/CoopFPS/ui.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/Pistol.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/Revolver.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/smg.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/rifle.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/shotgun.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/sniper.png" alt="" class="gallery-img">
                <img src="../image/CoopFPS/lmg.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>