<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT NAME</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/others.html">Others</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content">
    </div>
    <main>
        <h1>Eden8080</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/3NVSdbwYnGg?si=eGMuzFHbl9Y8BQUo" title="YouTube video player"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <ul>
                    <li>RogueLike Top-Down 3D Shooter</li>
                    <li>Unity</li>
                    <li>Graduating Project</li>
                    <li>2 People Team</li>
                    <li>Programmer, Game Designer, UI Designer, Grahpics Programmer, Project Manager</li>
                    <li>Sep 2022-May 2023 (9 Months)</li>
                </ul>
            </section>
    
            <section class="proj-features">
                <h2>Features</h2>
                <ul>
                    <li>Wave Function Collapse Level Generation</li>
                    <li>8 Randomly Generated Guns</li>
                    <li>86 Weapon Modifications</li>
                    <li>31 Unique Enemies</li>
                    <li>7 Unique Bosses</li>
                    <li>6 Unique Levels</li>
                    <li>Finite State Machine AI</li>
                    <li>Toon Shading</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                In this game, the player plays as a robot whose objective is to seek vengeance and eliminate anyone who stands in its way. You can carry up to four guns, which can be upgraded by adding various modifications to them. With 86 weapon modifications available, players can customize their guns to fit their playstyle. Additionally, the guns are randomly generated with different weapon parts, providing a unique experience for each gun found.
            </p>

            <p>
                With Wave Function Collapse Level Generation and over 40 unique enemies, including bosses, this game offers endless replayability through randomly generated levels and challenging foes.
            </p>
        </section>

        <a class="proj-download" href="https://drive.google.com/uc?export=download&id=1GnK3m0iYX-nm5NNbUQW3gBUttPTfPlLV" target="_blank">
            <i class="fa-solid fa-circle-down"></i> Download
        </a>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/Eden8080/Eden8080_01.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_02.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_03.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_04.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_05.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_06.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_07.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_08.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_09.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_10.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_11.png" alt="" class="gallery-img">
                <img src="../image/Eden8080/Eden8080_12.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>