<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Loader</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/cpp.html">C++</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content" src="../image/s39i3p04512.png" alt="MODAL IMAGE">
    </div>
    <main>
        <h1>Image Loader</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/oP2IqLwplXU?si=ow5hiCn5yxXBAKtI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <div class="proj-detail-table">
                    <div>Category</div>
                    <div>Image</div>
                    <div>Type</div>
                    <div>Utility</div>
                    <div>Project Type</div>
                    <div>Solo Project</div>
                    <div>Duratoin</div>
                    <div>May 2021-July 2021 (3 Months)</div>
                    <div>My Role</div>
                    <div>
                        <ul class="role-list">
                            <li>Programmer</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="proj-features">
                <h2>Features</h2>
                <ul class="features-list">
                    <li>No Dependency</li>
                    <li>Header Only</li>
                    <li>PNG Loading</li>
                    <li>PNG Filter</li>
                    <li>PNG Interlacing</li>
                    <li>Any PNG Color Types</li>
                    <li>PNG Transparency</li>
                    <li>Jpeg Loading</li>
                    <li>Jpeg Downsampling</li>
                    <li>BMP Loading</li>
                    <li>BMP Compression</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                The reason why I made this Image Loader is to gain a better understanding of how image files work, specifically regarding the decoding of PNG, JPEG, and BMP formats. To achieve this, I am building this project from scratch without relying on any external dependencies. For instance, I had to implement the zlib decoding for PNG's data, on my own.
            </p>

            <p>
                By including the header in C++, this image loader can load PNG, JPEG, and BMP images by inputting the file path.
            </p>

            <p>
                To demonstrate, I've created a demo program. After execution, open any image by clicking file->open.
            </p>
        </section>

        <a class="proj-download" href="https://drive.google.com/uc?export=download&id=1yAmylpH4lSL4coaCRKYRenRt09SjOhmJ" target="_blank">
            <i class="fa-solid fa-circle-down"></i> Download
        </a>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/ImageLoader/IM_01.png" alt="" class="gallery-img">
                <img src="../image/ImageLoader/IM_02.png" alt="" class="gallery-img">
                <img src="../image/ImageLoader/IM_03.png" alt="" class="gallery-img">
                <img src="../image/ImageLoader/IM_04.png" alt="" class="gallery-img">
                <img src="../image/ImageLoader/IM_05.png" alt="" class="gallery-img">
                <img src="../image/ImageLoader/IM_06.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>