<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mage Adventure</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/cpp.html">C++</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content" src="../image/s39i3p04512.png" alt="MODAL IMAGE">
    </div>
    <main>
        <h1>Mage Adventure</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/3NVSdbwYnGg?si=eGMuzFHbl9Y8BQUo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <div class="proj-detail-table">
                    <div>Genre</div>
                    <div>2D RogueLike</div>
                    <div>Engine</div>
                    <div>Unity</div>
                    <div>Type</div>
                    <div>2 People Group Project</div>
                    <div>Duratoin</div>
                    <div>Nov 2022-Dec 2022 (1.5 Months)</div>
                    <div>My Role</div>
                    <div>
                        <ul class="role-list">
                            <li>Programmer</li>
                            <li>Game Designer</li>
                            <li>UI Designer</li>
                            <li>Project Manager</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="proj-features">
                <h2>Features</h2>
                <ul class="features-list">
                    <li>Wave Function Collapse Level Generation</li>
                    <li>Unique Spells</li>
                    <li>Spell Chaining</li>
                    <li>Leveling System</li>
                    <li>A* Pathing Finding</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                In this game, you play the role of a mage who is tasked with defeating the Lich that resides within a dungeon. However, the Lich has summoned minions to protect the dungeon. Therefore, you must use your spells to overcome any enemies that you encounter.
            </p>

            <p>
                As a mage, you possess a variety of spells that you can cast. These spells are unique and have different trigger events. For instance, some spells will trigger the next spell when you hit a wall, while others may trigger the next spell when you defeat an enemy. By chaining spells together through these triggers, you can create powerful and devastating combos that will help you defeat any enemies you face.
            </p>

            <p>
                You can level up and gain experience by defeating enemies. Every five levels, you can learn or upgrade a spell. Additionally, with each level increase, you can improve your attributes such as health or power.
            </p>

            <p>
                I used this project to test out the Wave Function Collapse Algorithm for Eden8080. Also, I used this project to implement the spell trigger chaining mechanic.
            </p>
        </section>

        <a class="proj-download" href="https://drive.google.com/uc?export=download&id=1HLhVKjR_4gsFkgBzwpQGJuHvMwPC9r9h" target="_blank">
            <i class="fa-solid fa-circle-down"></i> Download
        </a>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/MageAdventure/mageAdventure_01.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_02.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_03.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_05.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_06.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_07.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_08.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_09.png" alt="" class="gallery-img">
                <img src="../image/MageAdventure/mageAdventure_10.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>