<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Game Engine</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/cpp.html">C++</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content" src="../image/s39i3p04512.png" alt="MODAL IMAGE">
    </div>
    <main>
        <h1>3D Game Engine</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/DdgE_1d9DYs?si=14pViJIVe-ueUTP_" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <div class="proj-detail-table">
                    <div>Category</div>
                    <div>OpenGL</div>
                    <div>Type</div>
                    <div>Game Engine</div>
                    <div>Project Type</div>
                    <div>Solo Project</div>
                    <div>Duratoin</div>
                    <div>July 2021-Sep 2021 (3 Months)</div>
                    <div>My Role</div>
                    <div>
                        <ul class="role-list">
                            <li>Programmer</li>
                            <li>UI Designer</li>
                            <li>3D Animator</li>
                            <li>Grahpics Programmer</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="proj-features">
                <h2>Features</h2>
                <ul class="features-list">
                    <li>3D Rendering</li>
                    <li>GLSL Shader</li>
                    <li>Partial and Full Transparency</li>
                    <li>Order Independent Transparency</li>
                    <li>Phong shading</li>
                    <li>Static Light</li>
                    <li>Dynamic Light</li>
                    <li>UI Rendering</li>
                    <li>UI Interaction</li>
                    <li>Resource Management</li>
                    <li>Material</li>
                    <li>PNG, JPG, BMP Image Loading</li>
                    <li>GLTF Model Loading</li>
                    <li>Font Loading</li>
                    <li>Signed Distance Field Text Rendering</li>
                    <li>Transform Hierarchy</li>
                    <li>Quaternion Rotation</li>
                    <li>Component Based Entity</li>
                    <li>3D Animation</li>
                    <li>3D Morph</li>
                    <li>Skybox</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                The purpose of this project is to learn OpenGL and Game Engine development. With the help of LearnOpenGL, I have independently developed most of the features. The only external libraries I utilized are GLFW and GLAD for the basic building blocks of OpenGL, MikkTSpace for Tangent Space, and FreeType for Font Loading.
            </p>

            <p>
                With this project, anyone can create a custom Game Engine by inheriting the Base Game Engine Class. The Game Engine works with entities, which can have additional component objects added to run additional functions such as movement.
            </p>

            <p>
                I have utilized my ImageLoader for loading images. Additionally, I have developed a custom GLTF loader to load models, including animations and morphs. To play the loaded animations, you can use the animation Component.
            </p>

            <p>
                This engine renders 3D models in Phong shading. This engine also implements Weighted Blended Order-Independent Transparency for both partial and full transparency rendering. For lighting, there are static lights such as directional lights, as well as dynamic lights like point lights and spot lights.
            </p>

            <p>
                To demonstrate this project, I have created a demo that you can download and experiment with.
            </p>
        </section>

        <a class="proj-download" href="https://drive.google.com/uc?export=download&id=1H-rm02qssaBOZj5M9ofvuqFg4aN3hqWi" target="_blank">
            <i class="fa-solid fa-circle-down"></i> Download
        </a>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/OpenGL/OpenGL_01.png" alt="" class="gallery-img">
                <img src="../image/OpenGL/OpenGL_02.png" alt="" class="gallery-img">
                <img src="../image/OpenGL/OpenGL_03.png" alt="" class="gallery-img">
                <img src="../image/OpenGL/OpenGL_04.png" alt="" class="gallery-img">
                <img src="../image/OpenGL/OpenGL_05.png" alt="" class="gallery-img">
                <img src="../image/OpenGL/OpenGL_06.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>