<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Of Creativity</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/cpp.html">C++</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content" src="../image/s39i3p04512.png" alt="MODAL IMAGE">
    </div>
    <main>
        <h1>Shop Of Creativity</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/wf8QI3l2Oe8?si=QCJSoUDM9ioE0AO" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <div class="proj-detail-table">
                    <div>Genre</div>
                    <div>3D Management Action RPG Simulation</div>
                    <div>Engine</div>
                    <div>Unity</div>
                    <div>Project Type</div>
                    <div>Graduating 4 People Group Project</div>
                    <div>Duratoin</div>
                    <div>Sep 2020-May 2021 (9 Months)</div>
                    <div>My Role</div>
                    <div>
                        <ul class="role-list">
                            <li>Programmer</li>
                            <li>Game Designer</li>
                            <li>UI Designer</li>
                            <li>Grahpics Programmer</li>
                            <li>Project Manager</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="proj-features">
                <h2>Features</h2>
                <ul class="features-list">
                    <li>Procedural Level Generation</li>
                    <li>Spell Creation</li>
                    <li>Spell Chaining</li>
                    <li>6 Types of Spells</li>
                    <li>Unique Spell Modifications</li>
                    <li>Status Effects</li>
                    <li>Shop Management</li>
                    <li>Shop decoration</li>
                    <li>Research Tree</li>
                    <li>Day Night Cycle</li>
                    <li>Time Simulation</li>
                    <li>3 Unique Dungeons</li>
                    <li>Town Level</li>
                    <li>Item Retrieve Quest</li>
                    <li>NPCs Dialogue System</li>
                    <li>Bosses use the spell system</li>
                    <li>Save & Load</li>
                    <li>Toon Shading</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                You play as a young wizard apprentice who dreams of becoming a Supreme Grand Master in wizardry. However, to take the exam, you need coins, which is why you decide to rent a shop to sell exotic items.
            </p>

            <p>
                As a wizard, you can create spells and customize them using spell components. There are six types of spells, each with unique characteristics. Additionally, your spell can trigger the next spell if there's a trigger component on your spell.
            </p>

            <p>
                Since you have rented the shop, it's important to note that you need to pay rent every week. Failure to do so will result in Game over. To assist you in selling items, you have the option to modify your shop by adding different types of furniture. Exotic items can be acquired by either venturing into a dungeon to find them or by crafting them yourself.
            </p>
        </section>

        <a class="proj-download" href="https://drive.google.com/uc?export=download&id=1nv6IQXLn4QRB_iNBk2YvpErSp4GPy2rb" target="_blank">
            <i class="fa-solid fa-circle-down"></i> Download
        </a>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/ShopOfCreativitiy/soc_1.png" alt="" class="gallery-img">
                <img src="../image/ShopOfCreativitiy/soc_2.png" alt="" class="gallery-img">
                <img src="../image/ShopOfCreativitiy/soc_3.png" alt="" class="gallery-img">
                <img src="../image/ShopOfCreativitiy/soc_4.png" alt="" class="gallery-img">
                <img src="../image/ShopOfCreativitiy/soc_5.png" alt="" class="gallery-img">
                <img src="../image/ShopOfCreativitiy/soc_6.png" alt="" class="gallery-img">
                <img src="../image/ShopOfCreativitiy/soc_7.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>