<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard and Dungeon</title>

    <link rel="stylesheet" href="../css/variable.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9bc15e2971.js" crossorigin="anonymous"></script>
    
    <script src="../js/myscript.js" defer></script>
</head>
<body>
    <header>
        <h1><a href="../index.html">John's Portfolio</a></h1>
        <button id="nav-menu-button"><i class="fa-solid fa-bars"></i></button>
        <nav>
            <ul id="nav-menu-list" class="nav-list">
                <li><a href="../pages/active.html">Inprogress</a></li>
                <li><a href="../pages/games.html">Games</a></li>
                <li><a href="../pages/cpp.html">C++</a></li>
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/about.html#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="modal">
        <span id="modal-close">&times;</span>
        <img id="modal-content" src="../image/s39i3p04512.png" alt="MODAL IMAGE">
    </div>
    <main>
        <h1>Wizard and Dungeon</h1>
        <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/D7LMuHBSdAQ?si=wkzw69U6fkoBt-go" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <div class="proj-overview">
            <section class="proj-detail">
                <h2>Overview</h2>
                <div class="proj-detail-table">
                    <div>Genre</div>
                    <div>2D RogueLike</div>
                    <div>Engine</div>
                    <div>Unity</div>
                    <div>Type</div>
                    <div>2 People Group Project</div>
                    <div>Duratoin</div>
                    <div>March 2020-May 2020 (1.5 Months)</div>
                    <div>My Role</div>
                    <div>
                        <ul class="role-list">
                            <li>Programmer</li>
                            <li>Game Designer</li>
                            <li>UI Designer</li>
                            <li>Project Manager</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <section class="proj-features">
                <h2>Features</h2>
                <ul class="features-list">
                    <li>Procedural Level Generation</li>
                    <li>Spell Creation</li>
                    <li>Unique Spell Modifiers</li>
                    <li>Status Effects</li>
                    <li>Spell Chaining</li>
                    <li>Item Shop</li>
                    <li>Character Upgrade</li>
                </ul>
            </section>    
        </div>

        <section class="proj-desc">
            <h2>About this Project</h2>
            <p>
                In this game, you play as a wizard who is stuck in a dungeon. Your task is to defeat an evil wizard who has trapped you. You can use your knowledge of magic to create unique spells to defeat the minions summoned by the evil wizard.
            </p>

            <p>
                You can find or purchase spell components from item chests or shops. With spell components, you can create various spells. Every spell requires a transport component and a target component. The transport component determines the spell's type, such as projectile or ray. The target component determines how the spell will behave, such as targeting the mouse pointer or targeting enemies. Using the Triggering component, you can trigger the next spell on trigger events, such as on hit.
            </p>

            <p>
                There are five levels, and each level has a boss. Defeating the boss opens a stairway to the next level and gives you three character upgrade options to choose from. You can choose one of the three options to permanently upgrade one aspect of your character.
            </p>
        </section>

        <a class="proj-download" href="https://drive.google.com/uc?export=download&id=18PnOxM7m_TNgoglXyNBKeo1nFYQAGwss" target="_blank">
            <i class="fa-solid fa-circle-down"></i> Download
        </a>

        <section class="gallery">
            <h2>Gallery</h2>
            <div>
                <img src="../image/WAD/wad_01.png" alt="" class="gallery-img">
                <img src="../image/WAD/wad_02.png" alt="" class="gallery-img">
                <img src="../image/WAD/wad_03.png" alt="" class="gallery-img">
                <img src="../image/WAD/wad_04.png" alt="" class="gallery-img">
                <img src="../image/WAD/wad_05.png" alt="" class="gallery-img">
            </div>

            <a class="gallery-arrows" id="g-arrow-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="gallery-arrows" id="g-arrow-next" onclick="plusSlides(1)">&#10095;</a>

            <div class="gallery-dots">
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
                <span class="gallery-dot"></span>
            </div>
        </section>
    </main>
</body>
</html>